<!-- <p>header works!</p> -->
<!-- <h2>The Header</h2> -->
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">Receipe Book</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="#">Recipes</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" role="button">Manage</a
          ><span class="caret"></span>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Save Data</a></li>
            <li><a class="dropdown-item" href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
