<!-- <p>recipe-detail works!</p> -->
<div class="row">
  <div class="col-xs-12">
    <img class="img-fluid" alt="" [src]="" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>Recipe Name</h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" role="group">
      <button class="btn btn-primary dropdown-toggle">Manage Recipe</button>
      <ul class="dropdown-menu">
        <li><a href="#" class="dropdown-item">Add To Shopping List</a></li>
        <li><a href="#" class="dropdown-item"></a>Edit Recipe</li>
        <li><a href="#" class="dropdown-item">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">Description</div>
</div>
<div class="row">
  <div class="col-xs-12">Ingredients</div>
</div>
